
 <section class="hero-banner">
      <div class="hero-wrapper">
        <div class="hero-left">
          <h1 class="hero-title">
            Your Health <br />
            in good hands.
          </h1>
          <div class="d-sm-flex flex-wrap justify-content-center">
            <a class="button button-hero button-shadow btn_themify" routerLink="/appointment"
              >Book Appointment Now</a>
          </div>
         
        </div>
        <div class="hero-right">
          <div class="owl-carousel owl-theme hero-carousel">
            <div class="hero-carousel-item mt-5">
              <img
                style="vertical-align: middle;"
                class="img-fluid"
                src="assets/ban.jpg"
                alt=""
              />
            </div>
           
          </div>
        </div>
      </div>
    </section>


 <!--================Hero Banner Section start =================-->
   
    <!--================Hero Banner Section end =================-->

    <nav class="navbar navbar-expand-lg navbar-light ">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="d-flex sub_header pt-3 pb-3">
      <ul class="list-inline mx-auto justify-content-center">
        <div class="dropdown">
        <li class="list-inline-item ml-3 mr-3"><button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Diet,Food & Fitness</button>
          
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
<b class="dropdown-header">Nutrition & Diet</b>
<a class="dropdown-item" href="#">Diet</a>
<a class="dropdown-item" href="#">Healthy Eating</a>
<b class="dropdown-header">Fitness & Exercise</b>
<a class="dropdown-item" href="#">Meditation</a>
<b class="dropdown-header">Weight Management</b>
<a class="dropdown-item" href="#">Weight Gain</a>
<a class="dropdown-item" href="#">Weight Loss</a>
<a class="dropdown-item" href="#">Obesity</a>
</div>


        </li>
        <li class="list-inline-item ml-3 mr-3"><button class="btn  dropdown-toggle" type="button" id="dropdownMenu2Button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Skin & Health  Care</button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <b class="dropdown-header">Nutrition & Diet</b>
<a class="dropdown-item" href="#">Diet</a>
<a class="dropdown-item" href="#">Healthy Eating</a>
<b class="dropdown-header">Fitness & Exercise</b>
<a class="dropdown-item" href="#">Meditation</a>
<b class="dropdown-header">Weight Management</b>
<a class="dropdown-item" href="#">Weight Gain</a>
<a class="dropdown-item" href="#">Weight Loss</a>
<a class="dropdown-item" href="#">Obesity</a>
</div>
          </li>
        <li class="list-inline-item ml-3 mr-3"><button class="btn  dropdown-toggle" type="button" id="dropdownMenu3Button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Health Conditions</button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <b class="dropdown-header">Nutrition & Diet</b>
<a class="dropdown-item" href="#">Diet</a>
<a class="dropdown-item" href="#">Healthy Eating</a>
<b class="dropdown-header">Fitness & Exercise</b>
<a class="dropdown-item" href="#">Meditation</a>
<b class="dropdown-header">Weight Management</b>
<a class="dropdown-item" href="#">Weight Gain</a>
<a class="dropdown-item" href="#">Weight Loss</a>
<a class="dropdown-item" href="#">Obesity</a>
</div>
        </li>
        <li class="list-inline-item ml-3 mr-3"><button class="btn  dropdown-toggle" type="button" id="dropdownMenu4Button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pregnancy, Kids & Parenting</button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <b class="dropdown-header">Nutrition & Diet</b>
<a class="dropdown-item" href="#">Diet</a>
<a class="dropdown-item" href="#">Healthy Eating</a>
<b class="dropdown-header">Fitness & Exercise</b>
<a class="dropdown-item" href="#">Meditation</a>
<b class="dropdown-header">Weight Management</b>
<a class="dropdown-item" href="#">Weight Gain</a>
<a class="dropdown-item" href="#">Weight Loss</a>
<a class="dropdown-item" href="#">Obesity</a>
</div>
        </li>
        <li class="list-inline-item ml-3 mr-3"><button class="btn  dropdown-toggle" type="button" id="dropdownMenu5Button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Women's Health</button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <b class="dropdown-header">Nutrition & Diet</b>
<a class="dropdown-item" href="#">Diet</a>
<a class="dropdown-item" href="#">Healthy Eating</a>
<b class="dropdown-header">Fitness & Exercise</b>
<a class="dropdown-item" href="#">Meditation</a>
<b class="dropdown-header">Weight Management</b>
<a class="dropdown-item" href="#">Weight Gain</a>
<a class="dropdown-item" href="#">Weight Loss</a>
<a class="dropdown-item" href="#">Obesity</a>
</div>
        </li>
        <li class="list-inline-item ml-3 mr-3"><button class="btn  dropdown-toggle" type="button" id="dropdownMenu6Button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other</button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <b class="dropdown-header">Nutrition & Diet</b>
<a class="dropdown-item" href="#">Diet</a>
<a class="dropdown-item" href="#">Healthy Eating</a>
<b class="dropdown-header">Fitness & Exercise</b>
<a class="dropdown-item" href="#">mmmm</a>
<b class="dropdown-header">Weight Management</b>
<a class="dropdown-item" href="#">Weight Gain</a>
<a class="dropdown-item" href="#">Weight Loss</a>
<a class="dropdown-item" href="#">Obesity</a>
</div>
</li>

</div>

      </ul>
    </div>

  </div>
</nav>
   

    
    <!--================anq section start =================-->
    <section class="section-margin">
      <div class="container">
        <div class="section-intro mb-75px" >
          <h4 class="intro-title">Question and Answers</h4>
          <h6>10 million+ questions answered by doctors</h6>
        </div>
        <div class="row" id="quespart">
          <div class="col-lg-6">
            <div class="media align-items-center food-card">
              <!-- <img class="mr-3 mr-sm-4" src="img/home/food1.png" alt=""> -->
              <div class="media-body">
                <div class="d-flex justify-content-between food-card-title">
                  <h6>
                    <b
                      >Every morning I wake up with a pain in back and side on left. Usually during the day it's gone but comes back again next morning..</b
                    >
                  </h6>
                </div>
                <div class="d-flex p-2">
                  <img
                    class="img-fluid mr-3"
                    width="70px"
                    height="50px"
                    src="assets/avatar.png"
                  />
                  <div class="p-2">
                    Dr. Alok Sinha <br />
                    <small>Psychiatrist, Patna</small>
                  </div>
                </div>
                <p style="font-size: 13px;">
                  Hi, yes you are not doing justice with your health. It is not good to do study like that. Stop that immediately and start doing strengthening exercises.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="media align-items-center food-card">
              <div class="media-body">
                <div class="d-flex justify-content-between food-card-title">
                  <h6>
                    <b
                      >Every morning I wake up with a pain in back and side on left. Usually during the day it's gone but comes back again next morning....</b
                    >
                  </h6>
                </div>
                <div class="d-flex p-2">
                  <img
                    class="img-fluid mr-3"
                    width="70px"
                    height="50px"
                    src="assets/avatar.png"
                  />
                  <div class="p-2">
                    Dr. Alok Sinha <br />
                    <small>Psychiatrist, Patna</small>
                  </div>
                </div>
                <p style="font-size: 13px;">
                  Hi, yes you are not doing justice with your health. It is not good to do study like that. Stop that immediately and start doing strengthening exercises.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="media align-items-center food-card">
              <!-- <img class="mr-3 mr-sm-4" src="img/home/food1.png" alt=""> -->
              <div class="media-body">
                <div class="d-flex justify-content-between food-card-title">
                  <h6>
                    <b
                      >Every morning I wake up with a pain in back and side on left. Usually during the day it's gone but comes back again next morning...</b
                    >
                  </h6>
                </div>
                <div class="d-flex p-2">
                  <img
                    class="img-fluid mr-3"
                    width="70px"
                    height="50px"
                    src="assets/avatar.png"
                  />
                  <div class="p-2">
                    Dr. Alok Sinha <br />
                    <small>Psychiatrist, Patna</small>
                  </div>
                </div>
                <p style="font-size: 13px;">
                   Hi, yes you are not doing justice with your health. It is not good to do study like that. Stop that immediately and start doing strengthening exercises.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="media align-items-center food-card">
              <!-- <img class="mr-3 mr-sm-4" src="img/home/food1.png" alt=""> -->
              <div class="media-body">
                <div class="d-flex justify-content-between food-card-title">
                  <h6>
                    <b
                      >Every morning I wake up with a pain in back and side on left. Usually during the day it's gone but comes back again next morning....</b
                    >
                  </h6>
                </div>
                <div class="d-flex p-2">
                  <img
                    class="img-fluid mr-3"
                    width="70px"
                    height="50px"
                    src="assets/avatar.png"
                  />
                  <div class="p-2">
                    Dr. Alok Sinha <br />
                    <small>Psychiatrist, Patna</small>
                  </div>
                </div>
                <p style="font-size: 13px;">
                  Hi, yes you are not doing justice with your health. It is not good to do study like that. Stop that immediately and start doing strengthening exercises. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================qna section end =================-->
<router-outlet></router-outlet>