<div
  class="container"
  style="margin-top: 50px; color: black; margin-bottom: 50px;"
>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <h5>Is this for you or someone else</h5>
    </div>
  </div>
  <div
    class="row"
    style="opacity: 1; height: 130px; background-color: #ffffff; "
  >
    <div class="col-sm-6 col-md-3 col-lg-3 col-xs-6">
      <i
        class="fa fa-user-circle fa-5x"
        aria-hidden="true"
        style="margin-top: 30px;"
      ></i>

      <div class="aq-person__name aq-person__name--no-mar">
        <h6 align="left" style="margin-left: 5px;">You</h6>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xs-6">
      <i
        class="fa fa-plus-circle fa-5x "
        aria-hidden="true"
        style="margin-top: 30px; margin-left: 35px;"
        data-toggle="modal"
        data-target="#exampleModalLong"
      ></i>
      <div
        class="modal fade"
        id="exampleModalLong"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLongTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Ask question for someone else
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="fields-wrapper">
                  <div layout="row">
                    <span class="form-element">
                      <input
                        type="text"
                        placeholder="What is their name?"
                        [(ngModel)]="name"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </span>
                  </div>
                  <span class="form-element filter-dropdown arrow">
                    <select>
                      <option value="brother">Brother</option>
                      <option value="sister">Sister</option>
                      <option value="aunt">Aunt</option>
                      <option value="father">Father</option>
                      <option value="mother">Mother</option>
                      <option value="uncle">Uncle</option>
                      <option value="grandmother">Grandmother</option>
                      <option value="grandfather">Grandfather</option>
                      <option value="cousin">Cousin</option>
                      <option value="husband">Husband</option>
                      <option value="wife">Wife</option>
                      <option value="friend">Friend</option>
                    </select>
                  </span>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">ADD</button>
            </div>
          </div>
        </div>
      </div>
      <div class="aq-person__name aq-person__name--no-mar">
        <h6 align="left">Someone else</h6>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6"></div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-11 col-xs-10">
      <h5>Your Question</h5>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-2">
      <button
        style="color: red; background-color: #f0f8ff; border-color: #f0f8ff; font-size: 15px;"
        (click)="edit()"
      >
        <i
          class="fa fa-pencil"
          aria-hidden="true"
          style="color: red; size: 2x"
        ></i>
        Edit
      </button>
    </div>

    <div
      class="col-sm-12 col-xs-12 col-lg-12 col-md-12"
      style="height: 80px;  width: 600px; background-color: #ffffff; font-size: 20px;"
      *ngIf="val"
    >
      {{ quest }}
    </div>
    <div
      class="col-sm-12 col-xs-12 col-lg-12 col-md-12"
      style="height: 80px;  width: 600px; background-color: #ffffff;"
      *ngIf="!val"
    >
      <input
        type="text"
        [(ngModel)]="question"
        [ngModelOptions]="{ standalone: true }"
        style="width: 100%; height: 50px; border-radius: 5px; margin-top: 10px; font-size: 1.2rem"
        placeholder="{{ question }}"
      />
    </div>
  </div>
  <div class="row" style="text-align: center">
    <h5
      align="center"
      style="color: black; margin-top: 10px; margin-bottom: 10px; margin-left: 13px;"
    >
      <strong>Your Basic Details here</strong>
    </h5>
  </div>
  <form style="color: black;">
    <div class="form-row">
      <div class="col-md-12 mb-12">
        <input
          type="text"
          class="form-control "
          [(ngModel)]="name"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Full Name"
        /><br />
      </div>
    </div>
    <div class="from-row">
      <label><h6>Gender</h6></label><br />

      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" />
        <label class="custom-control-label" for="customRadioInline1"
          ><h6>Male</h6></label
        >
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="customRadioInline2"
          name="customRadioInline1"
          class="custom-control-input"
        />
        <label class="custom-control-label" for="customRadioInline2"
          ><h6>Female</h6></label
        >
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="customRadioInline3"
          name="customRadioInline1"
          class="custom-control-input"
        />
        <label class="custom-control-label" for="customRadioInline3"
          ><h6>Transgender</h6></label
        >
      </div>
    </div>

    <div class="from-row">
      <div class="col-md-12 mb-12">
        <br />

        <input
          type="text"
          class="form-control "
          [(ngModel)]="age"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Age"
        />
        <br />
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <input
          type="text"
          class="form-control "
          [(ngModel)]="city"
          [ngModelOptions]="{ standalone: true }"
          placeholder="City"
        />
      </div>
      <div class="col-md-6 mb-3">
        <input
          type="text"
          class="form-control "
          [(ngModel)]="state"
          [ngModelOptions]="{ standalone: true }"
          placeholder="State"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" />
        <label class="form-check-label" for="invalidCheck3">
          <h6>Agree to terms and conditions</h6>
        </label>
        <div class="invalid-feedback">
          <h6>You must agree before submitting.</h6>
        </div>
      </div>
    </div>
    <button
      class="btn btn-primary"
      (click)="askNow()"
      style="align-items: center; margin-bottom: 10px;"
    >
      Ask Now
    </button>
  </form>
</div>
