.container{
    background-color: #f0f8ff;
}

div[layout='row'], div[layout-wrap] {
    overflow: hidden;
    clear: both;
}

.login-wrapper {
    margin-top: 0px;
  
    background: none;
    max-width: 420px;
    width: 100%;
    border: 1px solid #dce0e0;

}

.form{
    margin-bottom: 100px;
}

#logsin{
    align-items: center;
    margin-bottom: 100px;
}

ul[tabs-wrapper] {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
    width: 100%;
}
.login-wrapper .fields-wrapper {
    padding: 16px 20px 0px 20px;
}

div[flex-gt-sm], div[flex-sm], div[flex] {
    float: left;
}

.form-element {
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    padding: 0px 1px;
    margin: 16px 0 27px;
}
select {
    width: 100%;
}
optgroup {
    font-size: 12px !important;
}

.filter-dropdown:after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    background-size: cover;
    background-position: center;
    right: 4px;
    height: 10px;
    width: 10px;
    opacity: 0.7;
    cursor: pointer;
    pointer-events: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 29px;

    cursor: pointer;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
 
    padding-right: 22px;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea, select {
    position: relative;
    background-color: transparent;
    border: none;
    box-shadow: inset 0px -3px 0px -2px rgba(0,0,0,0.12);
    border-radius: 0;
    outline: none;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: rgba(0,0,0,0.87);
    vertical-align: middle;
    padding: 2px 2px 1px;
    box-sizing: content-box;
    transition: all 0.2s ease-out;box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.md-caption {
    font-size: 12px;
    letter-spacing: 0.02em;
}
.wMar-btm {
    margin-bottom: 8px !important;
}
.wRed {
    color: #c82506 !important;
}
.login-wrapper button {
    margin: 16px 0 0 0;
    min-height: 42px;
    line-height: 42px;
    font-size: 16px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    width: 100%;
}



.md-primary{
    background-color: #21b5cb;
}

.md-primary:hover{
    background-color:#b0d47f;
    color:black;
}

@media only screen and (max-width: 600px){
div[flex-sm='30'] {
    width: 30%;
}
}

@media only screen and (max-width: 600px){
.login-panel {
    padding: 0 15px;
}
}
.sign:hover{
    background-color: #01566d;
}
@media only screen and (max-width: 600px)
div[flex-sm='70'] {
    width: 70%;
}

#horizontal-list{
 list-style:none;
 }

 #horizontal-list li{
    display: inline-block;
    float: left;
    word-wrap: break-word;
    padding: 15px;
 }

 #md-card{
    margin-top: 100px;

 
}
