<body style="background-color: #f0f8ff;">
  <div class="container bodyContainer" id="logsin" align="center">
    <div layout="row" layout-align="center center" class="login-panel">
      <div id="md-card" class="login-wrapper">
        <ul tabs-wrapper id="horizontal-list">
          <li class="active">
            <a><strong>Login</strong></a>
          </li>

          <li>
            <a routerLink="/signup"><strong>Sign Up</strong></a>
          </li>
        </ul>
        <form style="margin-bottom: 100px;">
          <div class="fields-wrapper">
            <div layout="row">
              <div flex-sm="30" flex-gt-sm="25" style="width: 30%;">
                <span class="form-element filter-dropdown arrow">
                  <select>
                    <optgroup>
                      <option value="AF">+93 (AF)</option>
                    </optgroup>
                  </select>
                </span>
              </div>
              <div flex-sm="70" flex-get-sm="75" style="width: 70%;">
                <span class="form-element">
                  <input
                    type="text"
                    (keypress)="numberOnly($event)"
                    placeholder="Phone"
                    [(ngModel)]="user.phone"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </span>
              </div>
            </div>

            <span class="form-element">
              <input
                type="password"
                [(ngModel)]="user.password"
                placeholder="Password"
                [ngModelOptions]="{ standalone: true }"
              />
            </span>
          </div>
          <div class="md-caption wRed wMar-btm ">Forgot Password?</div>

          <section layout="column">
            <button
              (click)="login()"
              class="md-primary mrgtop"
              type="submit"
              flex
            >
              <strong>Login</strong>
            </button>
          </section>
        </form>
      </div>
    </div>
  </div>
</body>
