<div class="container-fluid text-center backgroundimg " >
     <div class="row" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="margin-top: 100px;">
      <h2 class="h2" style="color: white; size: 1.7rem; text-shadow: 2px 2px 4px #000000; "><strong>Consult Best Doctors From Anywhere, Anytime</strong></h2>
    </div>
  </div>
  <br>
    <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
    </div>
   
      <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
        <div class="input-group mb-3">
      <input type="text" placeholder="Search by Speciality/Symptoms" class="form-control" id="inputsearch" aria-describedby="searchHelp">
      
      
        <div class="input-group-append">
        <button class="btn btn-srch">Search</button>
      </div>
    </div>
    <br>
      </div>
   
    <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2"></div> 
   
</div>
<div class="row">
<div class="col-md-3 col-xs-0 col-lg-3 col-sm-0"></div>
	<div class="col-sm-4 col-lg-2 col-xs-4 col-md-2"><i class="fa fa-user-md" aria-hidden="true"></i><br><h6><strong>Choose Your Doctor</strong></h6>
</div>
<div class="col-md-2 col-xs-4 col-lg-2 col-sm-4"><i class="fa fa-credit-card" aria-hidden="true"></i><br><h6><strong>Pay Consultation Fee</strong></h6></div>
<div class="col-md-2 col-xs-4 col-lg-2 col-sm-4"><i class="fa fa-video-camera" aria-hidden="true"></i><br><h6><strong>Talk to the Doctor</strong></h6></div>
<div class="col-md-3 col-xs-0 col-lg-3 col-sm-0"></div>

</div>

</div>

<div id="whyLybrate" class="text-center container myriadpro-light">
	<h2>Why use Wellwise</h2>
	<div class="row">
		<div class="col-sm-6 col-md-3 a-whyLybrate">
			<div class="d-image">
				<img src="assets/doct.png" alt="90000 verified doctors">
			</div>
			<div class="d-title">
				100,000+ verified doctors
			</div>
			<div class="d-text">
				All doctors on Wellwise go <br>
				through a stringent <br>
				verification process
			</div>
		</div>
		<div class="col-sm-6 col-md-3 a-whyLybrate">
			<div class="d-image">
				<img src="assets/health.png" alt="Access to healthcare">
			</div>
			<div class="d-title">
				24*7 access to healthcare
			</div>
			<div class="d-text">
				Easy access to the best<br>
				doctors anytime,<br>
				anywhere
			</div>
		</div>
		<div class="col-sm-6 col-md-3 a-whyLybrate">
			<div class="d-image">
				<img src="assets/money.png" alt="Save time and money">
			</div>
			<div class="d-title">
				Save time &amp; money
			</div>
			<div class="d-text">
				Save upto 70% in time<br>
				and money spent for<br>
				consultation
			</div>
		</div>
		<div class="col-sm-6 col-md-3 a-whyLybrate">
			<div class="d-image">
				<img src="assets/time.png" alt="100 percent care guaranteed">
			</div>
			<div class="d-title">
				100% care guaranteed
			</div>
			<div class="d-text">
				We'll refund your money if<br>
				you're not satisfied with<br>
				our service
			</div>
		</div>
	</div>
</div>
<div id="topCategories" class="text-center myriadpro-light d-whiteItem">
<div class="container">
	
	<h2>Top Categories</h2>
	<div class="row">
		
<div class="col-xs-12 a-topCategories">
				<a class="d-unit a-dietician" >
					<div class="d-title tag">Dietitian</div>
				</a>
				<a class="d-unit a-gynaecologist">
					<div class="d-title tag">Gynaecologist</div>
				</a>
				<a class="d-unit a-psychologist">
					<div class="d-title tag">Psychologist</div>
				</a>
				<a class="d-unit a-dermatologist">
					<div class="d-title tag">Dermatologist</div>
				</a>
				<a class="d-unit a-orthopedist">
					<div class="d-title tag">Orthopedist</div>
				</a>
				<a class="d-unit a-ayurveda">
					<div class="d-title tag">Ayurveda</div>
				</a>
				<a class="d-unit a-homeopath">
					<div class="d-title tag">Homeopath</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<h5><strong>Top Doctors helping patients</strong></h5>
	</div>
	<div class="row">
		<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/doct.png">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
	
</div>