<div class="radios">
  <label>
    <input
      (click)="filter('all')"
      type="radio"
      [(ngModel)]="name"
      value="all"
    />
    ALL
  </label>
  <label>
    <input
      (click)="filter('doctor')"
      type="radio"
      [(ngModel)]="name"
      value="doctors"
    />
    Doctor
  </label>
  <label>
    <input
      (click)="filter('patient')"
      type="radio"
      [(ngModel)]="name"
      value="patients"
    />
    Patient
  </label>
</div>

<nb-card>
  <nb-card-header>
    {{header}}
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
