.pos-rel {
    position: relative;
}
.layout-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.layout-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.layout, .layout-column, .layout-row {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.layout-align-space-around, .layout-align-space-around-center, .layout-align-space-around-end, .layout-align-space-around-start {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
@media only screen and (max-width: 600px){
.card.card-body{
    padding: 12px;
}
}
.card.card-body{
    display: block;
    padding: 16px;
}
.ly-doctor-action {
    font-size: 14px !important;
    color: black !important;
}
.ly-cp-srp .card {
    margin-bottom: 0;
    width: 70%;
}
.card{
    box-shadow: none !important;
    width: 800px !important;
}

@media only screen and (max-width: 600px){
.card{
    margin: 6px 0px;
}
}
.card {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 8px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
@media (max-width: 599px){
.flex-sm-25, .layout-row>.flex-sm-25, .layout-sm-row>.flex-sm-25 {
    -webkit-flex: 1 1 25%;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    max-width: 25%;
    max-height: 100%;
    box-sizing: border-box;
}
}
.flex-15, .layout-row>.flex-15 {
    -webkit-flex: 1 1 15%;
    -ms-flex: 1 1 15%;
    flex: 1 1 15%;
    max-width: 15%;
    max-height: 100%;
    box-sizing: border-box;
}
.ly-doctor-action__img {
    max-width: 100px !important;
}
@media (max-width: 599px){
.layout-align-sm-center-start, .layout-align-sm-end-start, .layout-align-sm-space-around-start, .layout-align-sm-space-between-start, .layout-align-sm-start-start {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
}
@media (max-width: 599px){
.layout-align-sm-center, .layout-align-sm-center-center, .layout-align-sm-center-end, .layout-align-sm-center-start {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
}
.layout-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.layout, .layout-column, .layout-row {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
a {
    text-decoration: none;
    color: #C82506;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.ly-hand-cursor {
    cursor: pointer;
}
.ly-hand-cursor {
    cursor: pointer;
}
.ly-hand-cursor {
    cursor: pointer;
}
@media only screen and (max-width: 650px){
.ly-avatar-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
}
}
.ly-avatar-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
@media only screen and (max-width: 650px){
.ly-avatar-round__img {
    width: 70px;
    height: 70px;
}
}
.ly-avatar-round__img {
    width: 80px;
    height: 80px;
}
@media (max-width: 599px){
.flex-sm-75, .layout-row>.flex-sm-75, .layout-sm-row>.flex-sm-75 {
    -webkit-flex: 1 1 75%;
    -ms-flex: 1 1 75%;
    flex: 1 1 75%;
    max-width: 75%;
    max-height: 100%;
    box-sizing: border-box;
}
}
.flex-60, .layout-row>.flex-60 {
    -webkit-flex: 1 1 60%;
    -ms-flex: 1 1 60%;
    flex: 1 1 60%;
    max-width: 60%;
    max-height: 100%;
    box-sizing: border-box;
}
@media only screen and (max-width: 650px){
.ly-doctor-action__info {
    font-size: 12px;
    line-height: 1.5;
}
}
.ly-doctor-action__info {
    line-height: 1.5;
}
.layout-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.layout, .layout-column, .layout-row {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.layout-align-center-start, .layout-align-end-start, .layout-align-space-around-start, .layout-align-space-between-start, .layout-align-start-start {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
@media only screen and (max-width: 650px){
.ly-doctor-action__info__name {
    margin-bottom: 0;
    margin-top: -4px;
}
}
@media only screen and (max-width: 650px){
.ly-doctor-action__info__name {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: -4px;
}
}
.ly-doctor-action__info__name {
    margin-bottom: 0;
    margin-top: -4px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
h2 {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin: 0 0 8px 0;
    padding: 0px;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.ly-doctor-action__info__degrees {
    max-width: 100%;
}
.lybTrimStr {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ly-doctor-action__info__clinic {
    max-width: 100%;
}
.flex-55, .layout-row>.flex-55, .flex-sm-100, .layout-column>.flex-sm-100, .layout-row>.flex-sm-100, .layout-sm-column>.flex-sm-100, .layout-sm-row>.flex-sm-100 {
    max-height: none;
}
@media (max-width: 599px){
.flex-sm-100, .layout-column>.flex-sm-100, .layout-row>.flex-sm-100, .layout-sm-column>.flex-sm-100, .layout-sm-row>.flex-sm-100 {
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    }}

.flex-25, .layout-row>.flex-25 {
    -webkit-flex: 1 1 25%;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    max-width: 25%;
    max-height: 100%;
    box-sizing: border-box;
}
@media (max-width: 599px){
.layout-sm-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
}
@media (max-width: 599px){
.layout-sm, .layout-sm-column, .layout-sm-row {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
}
.layout-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.layout, .layout-column, .layout-row {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.layout-align-center-center, .layout-align-end-center, .layout-align-space-around-center, .layout-align-space-between-center, .layout-align-start-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
}
.layout-align-space-between, .layout-align-space-between-center, .layout-align-space-between-end, .layout-align-space-between-start {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
button, html, input, select, textarea {
    font-family: Roboto,'Helvetica Neue',sans-serif;
}
@media only screen and (max-width: 650px){
.ly-doctor-action__stats {
    padding-left: 8px;
    padding-top: 8px;
    font-weight: 400;
    font-size: 12px;
}
}
.ly-doctor-action__stats {
    font-weight: 400;
}
@media only screen and (max-width: 650px){
.ly-doctor-action__stats div {
    margin-bottom: 5px;
}
}
.ly-f-icon.ly-f-icon--md {
    height: 16px;
    width: 16px;
}
.ly-f-icon.ly-f-icon--md {
    height: 16px;
    width: 16px;
}
@media only screen and (max-width: 650px){
.ly-doctor-action__stats i{
    height: 12px;
    width: 12px;
    vertical-align: top;
    margin-right: 4px;
    margin-top: 0px;
}
}
.ly-doctor-action__stats i{
    height: 16px;
    width: 16px;
    vertical-align: top;
    margin-right: 5px;
    margin-top: -1px;
}
.ly-f-icon {
    vertical-align: text-top;
    margin: 0;
}
i{
    margin: auto;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 24px;
    width: 24px;
}

i.md-default-theme, i{
    color: rgba(0,0,0,0.54);
}
.ly-em {
    color: black;
}
.lybGreen {
    color: #259B24 !important;
}
strong, b {
    font-weight: 500;
}

strong {
    font-weight: bold;
}
@media only screen and (max-width: 650px){
.ly-doctor-action__stats div {
    margin-bottom: 5px;
}
}
.ly-doctor-action__stats div {
    margin-bottom: 5px;
}
@media only screen and (max-width: 650px){
.ly-doctor-action__stats i.icon-hack {
    vertical-align: top;
    height: 18px;
    width: 18px;
    margin-left: -2px;
    margin-top: -2px;
    margin-right: 2px;
}
}
.ly-doctor-action__stats i.icon-hack {
    vertical-align: top;
    height: 20px;
    width: 20px;
    margin-left: -2px;
    margin-top: -2px;
    margin-right: 3px;
}
@media only screen and (max-width: 650px){
.ly-doctor-action .ly-less-margin-tp65 {
    padding-right: 0px;
}
}
.ly-doctor-action .ly-less-margin-tp65 {
    margin-top: -20px;
    padding-right: 30px;
    }

    .layout-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media only screen and (max-width: 650px){
.ly-doctor-action__consult-modes {
    margin-top: 0;
}
}
.ly-doctor-action__consult-modes {
    margin-top: 16px;
}
@media only screen and (max-width: 650px){
.ly-doctor-action__consult-modes md-icon {
    margin: 0 10px;
    height: 20px;
    width: 20px;
}
}
.ly-doctor-action__consult-modes i{
    margin: 0 10px;
    height: 24px;
    width: 24px;
}
.btn.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

<style>

@media only screen and (max-width: 650px){
.ly-doctor-action__btn {
    padding: 0 10px;
    font-size: 12px;
    margin-bottom: 0;
}
}
.ly-doctor-action__btn {
    padding: 0 20px;
    min-width: 120px;
}
.btn{
    border-radius: 3px;
    box-sizing: border-box;
    color: currentColor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    margin: 6px 8px;
    line-height: 36px;
    min-height: 36px;
    background: 0 0;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.btn{
    letter-spacing: .01em;
}
button, input, select, textarea {
    font-size: 100%;
}
.layout-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.fa-phone:hover{
    color:  #21b5cb;
}
.fa-comments-o:hover{
    color: #21b5cb;
}

.btn{
    background-color:  #21b5cb;
    color: white;
}

.btn:hover{
    background-color: #b0d47f;
  color: black;
}