<div class="card ly-new-srp-card">
<div class="card-body pos-rel layout-wrap layout-align-space-around layout-row" role="button" tabindex="0">
        <div class="ly-doctor-action__img layout-align-sm-center-start layout-align-gt-sm-start-start layout-row flex-sm-25 flex-15">
           
                <div class="ly-hand-cursor ng-isolate-scope" >
        <div class="ly-avatar-round ng-scope">
        <img class="ly-avatar-round__img" src="assets/doct.png">
    </div>
</div>
          
                    </div>
        <div class="ly-doctor-action__info ng-scope layout-align-start-start layout-column flex-sm-75 flex-60" flex-xs="75" >

                <h2 itemprop="name" class="ly-doctor-action__info__name ly-hover-red ly-hand-cursor ng-binding" >
                    Doctor's_Name
                </h2>
                <div class="ly-doctor-action__info__degrees lybTrimStr ng-binding ng-scope" style="color: black; font-size: 12px;">
                   Qualification
                </div>
                    <div class="ly-doctor-action__info__speciality ng-binding ng-scope" style="color: black; font-size: 12px;">
                     Specialization
                </div>
                <div class="lybTrimStr ly-doctor-action__info__clinic ng-binding ng-scope" style="color: black; font-size: 12px;">
                    Dental Solutions<span class="ly-doctor-action__info__city">
                     <span class="ng-binding ng-scope">, Gurgaon</span>
                    </span>
                </div>
        </div>

        <div layout-xs="row" flex-xs="100"class="ng-scope layout-sm-row layout-align-gt-sm-space-between-center layout-align-space-between-center layout-column flex-sm-100 flex-25">
            <div class="ly-doctor-action__stats layout-align-center-start layout-column">
               <div data-ng-if="ctrl.doctor.userPopularityScore > 0" class="ly-doctor-action__stats__people-helped ng-scope">
                        <i class="fa fa-heart-o fa-2x ly-f-icon ly-f-icon--md ly-doctor-action__stats__people-helped__icon ic-people-helped ng-isolate-scope" aria-hidden="true"></i>
                        <span class="ly-em">
                            <strong class="lybGreen ng-binding">
                                93%
                            </strong><span class="ng-binding ng-scope"> (7057 ratings)</span>
                        </span>
                </div>
                <div  class="ly-doctor-action__stats__experience ng-scope">
                    <i class="fa fa-briefcase ly-f-icon fa-2x ly-f-icon--md ly-doctor-action__stats__experience__icon ic-experience ng-isolate-scope" aria-hidden="true"></i>
                    <span class="ly-em ng-binding">
                        <span class="lybGreen ng-binding">15</span>
                        Years experience
                    </span>
                </div><div >
                    <i class="fa fa-credit-card ly-f-icon fa-2x ly-f-icon--md ly-doctor-action__stats__experience__icon icon-hack ic-card ng-isolate-scope" aria-hidden="true"></i>
                    
                    <span class="ly-em"><span itemprop="currenciesAccepted" content="INR">₹</span><span itemprop="priceRange" class="ng-binding">300</span> online</span>

                </div>
            </div>
        </div>

    <div  class="layout-wrap ng-scope layout-align-end-end layout-row flex-100 ly-less-margin-tp65" style="">
    <div class="layout-wrap">
        <div class="layout-align-center layout-column">
                <div class="ly-doctor-action__consult-modes ng-scope layout-align-center-start layout-row">
                    <i class="fa fa-comments-o ng-scope ng-isolate-scope fa-2x" aria-label="Text Consult"  style="padding-left: 15px;"></i>
                    
                    <i class="fa fa-phone ng-scope ng-isolate-scope fa-2x" aria-label="Phone Consult" style="padding-left: 40px;"></i>

                    
                </div>
            </div>
            <button class="md-primary md-raised ly-doctor-action__btn  btn" aria-hidden="false"><span class="ng-binding ng-scope">
             CONSULT ONLINE
         </span></button>
    </div>
    </div>

    </div>
</div>
